body, .well{
    background-color: rgb(194,245,245);
}

.task-list{
    width: 23%;
    float: left;
    margin: 0 5px;
    background-color: rgb(119,219,224);
    border-radius: 4px;
    padding-bottom: 10px;
}

.task-list input, .task-list textarea{
    width: 88%;
    margin: 5px 0px 0px 15px;
}

.task-list input{
    height: 30px;
}

.todo-task{
    background-color: rgb(177,239,242);
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1px solid grey;
}

#todo-form{
    margin: 0px;
}

.task-list input[type="button"]{
    width: 88%;
    margin: 10px 0px 0px 15px;
}

.todo-task > .task-header{
    font-weight: bold;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

.todo-task > .task-description{
    font-size: smaller;
}

h3{
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

#delete-container{
    background-color: rgb(177,239,242);
    border: 2px dotted grey;
    width: 86%;
    margin: 10px 0px 0px 15px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}