body{
    background-image: url("../images/doge.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

#main{
    height: 100vh;
    width: 100%;
    background-color: red;
    opacity: 0.5;
}

#button{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    -webkit-box-shadow: 4px 4px 0px #099e9e;
    -moz-box-shadow: 4px 4px 0px #099e9e;
    box-shadow: 4px 4px 0px #099e9e;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    background: #20c9c9;
    text-decoration: none;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: Comic Sans, Comic Sans MS, cursive;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 1;
    top: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#button:hover{
    background: #2bd6d6;
    text-decoration: none;
}

#words{
    position: absolute;
    top: 0;
}

#words p{
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-weight: bold;
    width: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0px;
    color: white;
}